<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello home <%= text %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sint impedit nulla neque voluptatem ipsum assumenda, recusandae animi voluptates! Cupiditate cumque reiciendis ex. <span style="color:blue"> <%= text %></span> Id culpa magnam, soluta amet expedita fugit.</p>
</body>
</html>